[2015-09-23 06:51] alvinwoon opened #4 "Can't Archive App - "RCTBridgeModule.h' not found"
This problem seems to only occur when compiling for Release or archiving project. Appears to be similar issue with react native fbsdk.

https://github.com/facebook/react-native-fbsdk/issues/21

[2015-09-23 10:01] ojkelly commented on #4
I get this too, not sure on the fix yet.

[2015-09-23 10:29] ojkelly commented on #4
I've just fixed this and submitted a pull request, check the specific commit if you want to patch right now: https://github.com/ojkelly/react-native-safari-view/pull/1/files

[2015-09-24 01:46] alvinwoon commented on #4
thanks man!

[2015-10-08 12:17] #4 closed

[2015-10-08 12:20] naoufal commented on #4
@alvinwoon @ojkelly Just published to npm https://www.npmjs.com/package/react-native-safari-view :rocket:

[2015-11-14 04:21] iplus26 opened #9 "Please add tintColor property"
In the session, it was explained that you can customize the tint color of the toolbar items and done button. So could you please add that feature to react-native-safari-view?

I've tried to make it by myself though I know barely nothing about OC. However it seems that it's not like `initWithURL` and `entersReaderIfAvailable` so I cannot manage it. Here is what I've found.

    override func viewDi

[2015-11-17 10:10] alvinwoon opened #10 "Web page doesn't load on device"
latest xcode and RN 0.13.

Webpages load fine in simulator but it just goes idle when safari opens up inside the app on device.

[2015-11-17 13:01] naoufal commented on #10
Can you tell more about the OS/Device you're using.

Also, is this happening on release or debug mode?
On Tue, Nov 17, 2015 at 5:10 AM alvinwoon <notifications@github.com> wrote:

[2015-11-17 13:05] alvinwoon commented on #10
Hi. Sure. Iphone 6s plus. Can be reproduced on both debug and release mode. React native webview works fine though.

[2015-11-17 13:13] naoufal commented on #10
What version of iOS are you running on your device?

Which version is running in the simulator?
On Tue, Nov 17, 2015 at 8:05 AM alvinwoon <notifications@github.com> wrote:

[2015-11-17 13:30] alvinwoon commented on #10
both are running the latest version - 9.2

[2015-11-24 14:34] naoufal commented on #10
@alvinwoon so I experienced the same issue using a native application. I did a little digging and came across [this tweet](https://twitter.com/olebegemann/status/666405302233866240) which suggests it's a Safari View Controller bug.

Can you reproduce the issue after rebooting the device?

[2015-11-24 15:15] alvinwoon commented on #10
Rebooting doesn't help as I did that quite frequently when working on the app. i ended up switching back to RN webview for now.

[2015-11-24 15:28] naoufal commented on #10
To confirm, by rebooting you mean a hard reset (holding the home and sleep
button for 7 seconds).

On Tue, Nov 24, 2015 at 10:15 AM alvinwoon <notifications@github.com> wrote:

[2015-11-25 02:58] alvinwoon commented on #10
nope. just normal reboot.

[2015-11-25 03:00] naoufal commented on #10
Can you do me a favour and give that a shot. Want to make sure we've caught
the same bug.
On Tue, Nov 24, 2015 at 9:58 PM alvinwoon <notifications@github.com> wrote:

[2016-01-09 14:39] Yukaii opened #13 "Encounter warning: Module is not registered: "RCTNativeAppEventEmitter""
![screen shot 2016-01-09 at 10 14 04 pm](https://cloud.githubusercontent.com/assets/4230968/12216489/68cd7344-b71e-11e5-8989-1c5edfc68793.png)

Successfully load safari view but display this warning.

[2016-01-09 22:41] naoufal commented on #10
Can't repro. Closing.

[2016-01-09 22:41] #10 closed

[2016-01-10 04:27] #9 closed

[2016-01-10 14:30] iplus26 commented on #9
Thx a lot!

[2016-01-10 15:23] naoufal commented on #9
No problem. Let me know if you come across any issues.

On Sun, Jan 10, 2016 at 9:30 AM Ivan Jiang <notifications@github.com> wrote:

[2016-01-10 19:40] naoufal commented on #13
@Yukaii Can you share a code snippet and the version of `react-native` and `react-native-safari-view` that you're running?

[2016-01-12 07:25] Yukaii commented on #13
[code]
If any error happen, it would load webview instead. Actually your safari view works fine, but showing the warning message at first time I open my link. After dismissing the warning, it won't be shown until I kill the program and launch it again.

[2016-01-13 00:29] naoufal commented on #13
@Yukaii What version of `react-native` and `react-native-safari-view` are you using?

[2016-01-13 01:00] naoufal commented on #13
Can you also try running the example included on the repo?

[2016-01-13 02:04] Yukaii commented on #13
Your example works fine without warning messages. My `react-native` version is 0.17.0 and `react-native-safari-view` is 0.3.0. After I remove the entire `node_modules` folder and run `npm install` again, the problem is still there.

[2016-01-13 02:10] naoufal commented on #13
Did you start your project with 0.17.0?  If not did you ever run `react-native upgrade`?

[2016-01-13 02:24] Yukaii commented on #13
I've changed `react-native` version to 0.18-rc once and run `npm install` but set back later. Might this be the problem?

[2016-01-14 01:59] naoufal commented on #13
Not sure. Can you try a setting up a new project with 0.17.0 and running
your code with it?

On Tue, Jan 12, 2016 at 9:24 PM Yukai Huang <notifications@github.com>
wrote:

[2016-01-20 21:45] pvenkatakrishnan opened #16 "`RCTSafariViewManager.dismiss was called with 0 arguments but expects 2` error on calling dismiss"
Can you please add a test as to how to use dimiss ? it looks like i will need to pass controller but i really dont have access to it.

[2016-01-22 00:49] jasonmerino commented on #13
I'm working on upgrading to 0.18.0 and it looks like this has been promoted from a YellowBox warning to a RedBox error. I was able to recreate it with this repo

https://github.com/jasonmerino/SafariViewControllerTest

I was poking around the project a little and found (based off the hints here http://stackoverflow.com/questions/29424913/is-react-native-modules-sending-events-to-javascript-doc-cor

[2016-01-26 20:10] ilanasufrin opened #18 "Installation not working"
I'm on react native version 17 and I get the Red Screen of Death when I try to require react-native-safari-view in my project.

![image](https://cloud.githubusercontent.com/assets/4762269/12593366/b0ab3912-c43e-11e5-950a-1ba75a814c7b.png)

I've triple checked that I've installed the library correctly and linked the binaries.

![image](https://cloud.githubusercontent.com/assets/4762269/12593393/dcd

[2016-01-26 20:13] naoufal commented on #18
Try killing your terminal and rerunning it.

Also what version of the SafariView are you running?

[2016-01-26 20:26] ilanasufrin commented on #18
Thanks for the quick response!
Killing my terminal helped me move past the `require`ing phase. Also for the record I'm on SafariView 0.3.0.

[2016-01-26 20:28] naoufal commented on #18
Glad to hear that.

Did this resolve your issue?

[2016-01-26 20:32] ilanasufrin commented on #18
Yep, I'll close!

[2016-01-26 20:32] #18 closed

[2016-01-26 22:43] ilanasufrin commented on #13
Is this still being actively looked at? I'm also getting the same warning.

[2016-01-26 22:54] naoufal commented on #13
@ilanasufrin @jasonmerino Reviewing #17 right now.

[2016-02-25 12:35] jerolimov commented on #13
Same issue here with RN 0.20. With the changes in PR #17 it works, but I didn't receive the events with it, so I optimized it and the API a little bit with PR #19.

If you want test it install it (until a new release is available) with:

    npm install --save 'https://github.com/jerolimov/react-native-safari-view#fix-eventemitter-redbox'

[2016-02-25 19:58] #13 closed

[2016-02-25 20:03] naoufal commented on #13
Just published to [npm](https://www.npmjs.com/package/react-native-safari-view) as version 0.4.0.  :rocket:

Fix brought to you by @jerolimov! :smile:

[2016-02-25 20:03] jerolimov commented on #13
Thanks! Already upgraded :+1:

[2016-02-25 20:04] jasonmerino commented on #13
@jerolimov++

[2016-02-26 05:57] naoufal commented on #16
@pvenkatakrishnan can you provide a code snippet?  You should be able to call `SafariView.dismiss()` to dismiss the controller.

Closing until a snippet is posted.

[2016-02-26 05:57] #16 closed

[2016-02-26 15:53] alinz opened #20 "closing SafariView programmatically"
Hello and thank you for this. I'm implementing oAuth2 and I found that I need some sort of closing once I detect the proper URL.

I have already prepared the PR for this, please take a look at this and let me know,

Thanks,
Ali

[2016-03-07 19:59] deverstalmage opened #22 "Animate view from different direction"
I noticed that in your readme you show an animated .gif of the Safari view sliding in from the bottom, whereas when I call `SafariView.show()` the view slides in from the right hand side. Is there a way to configure which direction the view animates in from?

[2016-03-08 14:28] naoufal commented on #22
Hey @deverstalmage. I should probably update the gif.

That used to be the default animation. But in 9.2, Apple updated the Controller so that it slides in from the right, which enabled swiping to dismiss.

The module doesn't currently support specifying the entry animation, but I'd encourage you to contribute if it's something you need for your app.

[2016-04-08 19:42] aforty opened #23 "Lower podspec deployment target"
I get it, Safari View is a feature of iOS 9 but hear me out... I want to use Safari when it `.isAvailable()` and other fallback to React's `Linking`. I don't want to raise my `Podfile` deployment target (currently iOS 8.3) in order to satisfy this particular components podspec.

So is it possible to lower the deployment target and simply error out during `.isAvailable()` (edit: it already does thi

[2016-04-13 12:42] #23 closed

[2016-05-10 17:33] #20 closed

[2016-05-22 20:29] lucaboieru opened #26 "Safari view won't show when opened from a Modal"
I'm trying to open the Safari View by pressing on a button inside a <Modal>, but Safari View refuses to open and it throws this warning: "Warning: Attempt to present <SFSafariViewController: 0x13fb1cc80> on <UIViewController: 0x13e8024c0> whose view is not in the window hierarchy!"

[2016-05-26 23:18] zachgibson opened #27 "Images disappear when Safari View Controller dismisses"
When you dismiss the view controller and you're back in your app, all images are gone and then reappear after a couple of seconds. Have you experienced this?

[2016-06-21 23:08] naoufal commented on #27
@zachgibson Can you provide a repro so that I can look into this?  Ideally a video.

[2016-06-21 23:45] naoufal commented on #26
Hey @lucaboieru closing this for now. If this is a still an issue can you provide a code snippet with your code structure and I'll gladly open the issue again.

[2016-06-21 23:45] #26 closed

[2016-06-21 23:45] #27 closed

[2016-06-22 21:06] zachgibson commented on #27
@naoufal This turns out to be a problem with RN. Got moving in the right direction for this issue here: https://github.com/facebook/react-native/issues/8231#issuecomment-227154527

[2016-06-22 21:21] naoufal commented on #27
Thanks for the update. 👋

[2016-07-08 11:53] skycocker commented on #22
@deverstalmage are you possibly looking for something like this? https://github.com/skycocker/react-native-sfsafariviewcontroller

[2016-07-13 03:04] dozoisch opened #30 "Flow Annotations errors"
Hi!

The file index.ios.js contains `@flow` but does not contain any annotation within the file. This leads to many errors. I'm willing to do a PR to either remove `@flow` or add some annotations. Which solution do you prefer?

First one makes it 0 maintenance in the future. Second one means you will have to maintain the flow annotations if modifications are made in the code base, but that they ca

[2016-07-13 19:48] naoufal commented on #30
Hey @dozoisch,  thanks for bringing this to my attention and especially volunteering to take it on. 👍

I'm thinking it's probably best to just omit references to `@flow`.  Like you said, it'll reduce required maintenance and keep the barrier to entry low for beginners.

Thanks again!

[2016-07-24 10:58] alexanderniebuhr opened #32 "[Android] Can't run generate APK"
Hello,

I used the react-native-safari-view in my iOS app, now I want to make an android app. But I can't because the safari view does not support android. How can I make my app run on android?

Like it should work on iOS with this package and on android without this package??

Any Ideas or suggestions for my problem
Thanks
Alex

[2016-07-26 20:18] #30 closed

[2016-07-26 20:21] naoufal commented on #32
HI @alexanderniebuhr,

I would use [WebView](http://facebook.github.io/react-native/docs/webview.html) as a fallback on Android.  The SafariViewController is an iOS only feature that shares cookies and other state between safari and the webview.  So you won't get that using the WebView, but at least your app will be functional.

Hope that helps :)

[2016-07-26 20:22] naoufal commented on #32
Can you paste the Error output from generating the APK?

[2016-07-27 03:37] naoufal commented on #32
@alexanderniebuhr can you try changing this line to `index.js` and attempting to compile your project.  If it works, could you submit a PR 😉

https://github.com/naoufal/react-native-safari-view/blob/master/package.json#L5

[2016-07-27 05:19] alexanderniebuhr commented on #32
Hi,

I'll try your suggestions right now. I am coming back with the results.

Still don't Know how to write an appropriate fallback just for android. How do I say react-native "this code On ios and this code On android"

Thanks and hearing later
Alexander Niebuhr

[2016-07-27 05:21] alexanderniebuhr commented on #32
Well I actually can generate an apk. But when i run it i get following error and app crashes:

"Requires unknown module "react-native-safari-view"

[2016-07-27 08:59] alexanderniebuhr commented on #32
@naoufal the version with `package.json` does not work for me :(

[2016-07-27 12:26] naoufal commented on #32
@alexanderniebuhr you should be all set after reading this part of the docs.

https://facebook.github.io/react-native/docs/platform-specific-code.html

[2016-07-27 12:26] naoufal commented on #32
Going to close this issue, since it isn't an issue with the module itself. 😉

[2016-07-27 12:26] #32 closed

[2016-08-18 17:09] weinshel commented on #32
I was having a similar issue also. The app would crash on launch only when built in release mode, with the error `Requiring unknown module "react-native-safari-view"`. Since I am using ES6 imports, there isn't an easy way to conditionally require the module for only iOS.

The earlier suggestion to change `index.ios.js` worked when changed to just `index` (as opposed to `index.js`). The app then la

[2016-08-18 23:41] naoufal commented on #32
Hey Ben, I'm not using that warning for testing so you can go ahead with
the PR.

On Fri, Aug 19, 2016 at 1:09 AM Ben Weinshel <notifications@github.com>
wrote:

[2016-09-01 20:14] #22 closed

[2016-09-01 20:17] naoufal commented on #22
@deverstalmage Added to version `v1.1.0`, thanks to @zachgibson

[2016-09-08 11:00] roysG opened #37 "safariView.show is not a functionerr"
Platform: android

[2016-09-08 11:23] naoufal commented on #37
Hi @roysG, the Safari View Controller is an iOS specific feature.  That said, it is not compatible with Android.

You can always call the `isAvailable` method to know if it's available on the device.  Which on Android, always returns `false`.

[2016-09-08 11:23] #37 closed

[2016-09-13 03:05] ajoshdee opened #39 "Safari view layout"
Safari view doesn't layout my html content properly. But it is properly displayed in Safari app.

[2016-09-13 03:17] ajoshdee commented on #39
Is there a way to just open the safari app itself?

[2016-09-13 03:23] naoufal commented on #39
That's odd. Although I doubt it's related to this module specifically since
we just delegate rendering to the native SFViewController.

What OS and device are you testing this on?

The Linking API can help you open a link directly in safari.

https://facebook.github.io/react-native/releases/0.31/docs/linking.html

On Mon, Sep 12, 2016 at 11:17 PM ajoshdee <notifications@github.com> wrote:

[2016-09-13 03:26] ajoshdee commented on #39
I'm testing this on iOS 9 iphone 5S device

[2016-09-13 03:29] ajoshdee commented on #39
And I'm having a `nil modal view controller` exception on ios 8

[2016-09-13 03:31] naoufal commented on #39
Can you post a video example.
On Mon, Sep 12, 2016 at 11:29 PM ajoshdee <notifications@github.com> wrote:

[2016-09-13 03:37] ajoshdee commented on #39
![img_0680](https://cloud.githubusercontent.com/assets/7309782/18460711/64945dd8-79a6-11e6-98bb-6a92ec23559f.jpg)
I copied and paste the code from the example folder. With `from bottom` set to true

[2016-10-13 14:27] 7kfpun opened #41 "Crash with unicode url"
![simulator screen shot 13 oct 2016 10 25 30 pm](https://cloud.githubusercontent.com/assets/2672802/19352905/3c100f46-9194-11e6-8c6c-fb2827f448fe.png)

[2016-10-13 14:31] naoufal commented on #41
Oh weird. Have you tried encoding the url?

[2016-10-13 16:20] 7kfpun commented on #41
Oh thanks! Need to use encodeURIComponent().

[2016-10-13 16:20] #41 closed

[2016-10-13 16:43] naoufal commented on #39
@ajoshdee can you try running this with the latest version of this module and `react-native`.  If you still have issues, I'll gladly reopen the issue.

[2016-10-13 16:43] #39 closed

[2016-10-26 12:27] rimzici opened #42 "Build Fails With an Error After Upgrading to RN 0.35"
RN Version : 0.35
react-native-safari-view : 1.2.0
Attaching the Error ScreenShot:

![screen shot 2016-10-26 at 5 41 39 pm](https://cloud.githubusercontent.com/assets/16771765/19725862/aa9a1734-9ba5-11e6-8eab-23bab58f4ffd.png)

[2016-11-08 08:59] huston007 commented on #42
For a while I reimplemented it right in my sources like described here https://gist.github.com/mnylen/8c4010ab353f4886f89c

[2016-11-12 16:17] faceyspacey opened #43 "Can you use this as a hidden safari view to extract cookies?"

[2016-11-14 19:56] benjreinhart commented on #42
Also seeing this with RN 0.26 and RN safari view 1.2.0.

[2016-11-16 06:04] mathankadappt opened #44 "Undefined Issue: undefined is not an object (evaluating 'NativeSafariViewManager.show')`"
"react": "~15.3.1 ",
 "react-native": "^0.35.0",
"react-native-safari-view": "^1.2.0"

I am using it as its is recommended in the docs.

'import SafariView from 'react-native-safari-view';

SafariView.isAvailable()
                .then(SafariView.show({
                    url : "myurl"
                }))
                .catch(error => {
                    // Fallback WebView code for iOS 8 an

[2016-11-16 13:21] naoufal commented on #44
Have you linked the library?

[2016-11-17 10:09] #44 closed

[2016-12-01 11:27] skrobek commented on #44
@mathankadappt How you solved the issue? I linked library but still see the same error.

[2017-01-06 23:38] fungilation opened #48 "Does not compile under React Native 0.40"
Need iOS header updates [like this](https://github.com/react-native-community/react-native-blur/commit/19295fcd1d70536d696351f5d5c41782196433a3).

See https://github.com/facebook/react-native/releases/tag/v0.40.0

[2017-01-07 13:53] aforty commented on #48
Fixed in #47, waiting to be merged.

[2017-01-11 00:04] robertodias180 opened #49 "TypeError: Cannot read property 'show' of undefined"
I am getting the following error. any ideas?

[code]

[2017-01-11 19:10] robertodias180 commented on #49
fixed by manually adding this a48010ae1dce3b0fdc72e51a706f281d7855b026 please merge it. thanks

[2017-01-11 19:39] naoufal commented on #49
Merged and published under `2.0.0`

[2017-01-11 19:39] #49 closed

[2017-01-11 19:39] naoufal commented on #48
Merged and published under `2.0.0`.

[2017-01-11 19:39] #48 closed

[2017-01-11 19:43] naoufal commented on #43
Not out of the box.  And I don't see us adding support for that given doing so goes against Apple's Guidelines.

See https://developer.apple.com/app-store/review/guidelines.

(iv)SafariViewContoller must be used to visibly present information to users; the controller may not be hidden or obscured by other views or layers. Additionally, an app may not use SafariViewController to track users without

[2017-01-11 19:43] #43 closed

[2017-01-11 19:46] naoufal commented on #42
Sorry for the late response.  Things have been pretty hectic these past few months.

The project's been updated to `0.40` and tested.  Going forward we'll update the module to support the latest react-native version.  I've update the README to reflect this.

I'm going to close this issue for now . I'm happy to reopen it if you're still experiencing issues on 0.40.

[2017-01-11 19:46] #42 closed

[2017-01-19 11:59] reimertz opened #51 "Feature Request: Open view in Private Mode"

[2017-01-19 18:03] naoufal commented on #51
From what I've read, it isn't possible to force the SafariViewController into Private mode.  It uses whatever mode the user is currently using in Safari.

Feel free to reopen if you find documentation that supports forcing Private Mode.

[2017-01-19 18:03] #51 closed

[2017-01-19 18:23] reimertz commented on #51
Do you know if it would be possible to check if it is in private mode?

[2017-01-20 05:24] agat opened #52 "Detect changes of URL?"
It is possible to track changes of URL while navigating?
A close up view from RN code?

[2017-02-01 11:21] headlessme commented on #52
+1

[2017-02-04 19:06] williambout commented on #52
@agat You can use `Linking.addEventListener('url', handleUrl)`

[2017-02-08 05:18] agat commented on #52
@williambout It is a little different.

[2017-02-08 23:35] naoufal commented on #52
[Ricky Mondello](https://twitter.com/naoufal/status/829472215036993536), who works on Safari, just confirmed that the SafariViewController does not support this.

[2017-02-08 23:35] #52 closed

[2017-02-08 23:48] headlessme commented on #52
I looked into this, it's possible to get URL change events through the Linking module for safari view controller, **but** only for applinks registered to your app. Getting arbitrary URL changes sounds like a security hole. We're using this method to handle an OAuth login flow and it works well so far!

[2017-02-08 23:56] naoufal commented on #52
@headlessme That's awesome.  I think we could benefit from documenting that.  Would you mind submitting a PR adding instructions to the README?

[2017-02-24 09:16] seasonyuu opened #56 "setting readerMode props not work"
while I am setting props like this
[code]
SafariView always make `entersReaderIfAvailable` as `YES`, performs like a bug.

[2017-02-25 08:41] salmankhann commented on #44
@naoufal @skrobek @mathankadappt I've linked the lib too but still get the same error

[2017-02-25 10:21] salmankhann opened #57 "SafariView.show is undefined"
When SafariView is imported as

[code]

We get that show is undefined.

I've linked the library and still get this error.

react-native-cli: 1.2.0
react-native: 0.41.2

[2017-02-25 10:23] salmankhann commented on #57
Sorry, fixed it! Forgot to restart the packager after npm i. I'm going to leave this here incase anyone also stumbles upon this issue.

[2017-02-25 10:23] #57 closed

[2017-03-01 12:49] brendan-rius opened #59 "Promise never resolves in with `show()`"
When calling `show`, you return a promise like so:

[code]

this promise only resolves in the callback you pass to the native `show` method:

[code]

But that callback is never called in the native code (see here: https://github.com/naoufal/react-native-safari-view/blob/master/SafariViewManager.m). You might want the callback to be called in the `completion` callback [here](https://github.com/naou

[2017-03-01 13:16] brendan-rius commented on #59
I just created a pull request to fix this

[2017-04-06 00:22] getreup commented on #57
I also got this when I used "require" instead of "import"

[2017-04-19 03:38] seanyesmunt commented on #59
bump

having this issue too

[2017-05-10 07:21] seclace opened #62 "TypeError: Cannot read property 'show' of undefined"
Hi. I installed this package with `npm i --save react-native-safari-view` and then use it in my component:
[code]
And get this error:
[code]

I logged the _NativeModules_ object imported from _react-native_ and it has not _SafariViewManager_ property (== undefined).
May be I missed something?
RN version is 0.31

I ran `node node_modules/react-native/local-cli/cli.js link` and did't get any effect

[2017-05-10 07:51] seclace commented on #62
I've tested these steps with RN 0.42.3 and it worked fine.

[2017-05-11 03:18] seclace commented on #62
I needed to rebuild.

[2017-05-11 03:18] #62 closed

[2017-06-07 15:37] dgurns opened #63 "Has anyone got this working with RN 0.44?"
It's not working for me. I'm running React Native 0.44.2, React 16.0.0-alpha.6, React Native Safari View 2.0.0. Just opens a separate Safari window outside of the app.

Here's my code:

[code]

[2017-06-07 16:05] dgurns commented on #63
Duh. If you get this issue, don't forget to run `react-native link`

[2017-06-07 16:05] #63 closed

[2017-06-07 16:07] naoufal commented on #63
Glad you figured it out @dgurnd 🙌

[2017-08-14 13:17] clucasalcantara opened #65 "SafariView works ok on simulator but doesn't work on physical devices."
I've followed the instructions here and everything is ok and running on iOS simulator but when I try to run my app on the device it always fails.

[code]

[2017-09-06 04:37] sachinrekhi opened #66 "In landscape mode, Safari view header overlaps status bar"
An iOS app can be configured to optionally maintain the status bar in landscape mode. In my app I have done so. Unfortunately now the Safari View header now overlaps the status bar when trigger in landscape mode.

See below image:
![screen shot 2017-09-05 at 9 36 13 pm](https://user-images.githubusercontent.com/192650/30094622-462150ae-9282-11e7-9143-3c5611f38153.png)

I'm using react-native-safar

[2017-09-06 05:13] naoufal commented on #66
Why not dismiss the status bar prior to showing the Safari View?

[2017-09-06 05:21] sachinrekhi commented on #66
Unfortunately the only way I know how to make the status bar show up in landscape mode in React Native is by modifying the AppDelegate.m on the Objective C side, which applies to all views. So I don't know how to programmatically disable it before showing the Safari view on the JS side as you suggest.

Ideally I was hoping that the Safari view can detect a status bar is being shown and add a paddi

[2017-09-06 05:25] naoufal commented on #66
Sounds like this is what you're looking for.

https://facebook.github.io/react-native/docs/statusbar.html

[2017-09-06 05:26] naoufal commented on #66
This sounds like an app specific use case and I don't think it's the Safari View's responsibility to manage the display state of the status bar.

[2017-09-06 05:34] sachinrekhi commented on #66
Hm, interesting, I just tired it again and now it's showing up fine below the status bar. Seems like an intermittent issue.

![screen shot 2017-09-05 at 10 28 14 pm](https://user-images.githubusercontent.com/192650/30095886-2a5cdc46-928a-11e7-9d83-bdf76fe8ae01.png)

But thanks for the pointer on how to hide the status bar in React Native. Sounds like a decent workaround.

[2017-09-06 05:34] #66 closed

[2017-09-14 19:22] dniccum opened #67 "The .show() method not working on RN 0.48.X with Modal visible"
I just installed this package within my application. The `.isAvailable()` method works like a champ, however the `.show()` method does not work. Unfortunately I am not seeing any errors within my debugger either.

[2017-09-14 19:30] naoufal commented on #67
Can you share a code snippet?

[2017-09-15 00:03] dniccum commented on #67
This is the snippet that I am trying to use:

[code]

[2017-09-27 17:25] RSSfeed commented on #67
maybe a stupid question, but did you run `react-native link react-native-safari-view`? @naoufal would be helpful to see this hint in readme 😊

[2017-09-27 18:01] dniccum commented on #67
@RSSfeed Yes I have done this.

[2017-09-27 18:06] RSSfeed commented on #67
Any outputs on Xcode console? Did you also try to omit "fromBottom" from show() method to test? Maybe also slightly adjust your code to console log `error` variable within the catch function.

[2017-09-27 18:18] RSSfeed commented on #65
What version of iOS do you have running on your physical device? Also, you could try to launch the app on a device in debug mode and adjust your catch function to log errors like so:
`.catch(error) => { console.log(error) /*...*/ }`

[2017-09-27 19:11] dniccum commented on #67
@RSSfeed I removed the show method as suggested with no luck. I did open the app with some logging enabled and I did receive this log entry within XCode:

[code]

Suggestions?

[2017-09-27 19:20] dniccum commented on #67
Another follow up, if I attempt to launch the safari view controller from a simple view the component works fine with a few buttons. However if the view is somewhat more complicated with multiple buttons, images and other layered content, I get the error above.

[2017-09-28 14:28] dniccum commented on #67
@RSSfeed @naoufal  I can confirm that this does not work if a Modal is present/visible.

[2017-09-28 15:06] dniccum commented on #67
@naoufal I have submitted a PR to fix this: #69

[2017-09-28 17:16] fmoessle opened #70 "Stop safari-view from remember user"
Hi,

i am using your library to redirect my users to my backend and do oauth-stuff.
After my users login with google or facebook, safari remembers them and logs them in the next time they visit the oauth site. Is there a way to remove the cookies (that's what i think "remembers" them)?

For everyone how is trying to get oauth to work, please read this awesome article: http://rationalappdev.com/log

[2017-09-30 12:12] koenpunt commented on #70
The `SFSafariViewController` "shares cookies and other website data with Safari" (https://developer.apple.com/documentation/safariservices/sfsafariviewcontroller), so the only way to remove the cookies is by removing them yourself.

So a better solution would probably to add a query parameter that causes the page not to use the cookies to authorize the user, and thus will always ask for credential

[2017-10-01 14:38] #56 closed

[2017-10-01 14:38] koenpunt commented on #56
Fixed with 1b451f0edc89c75a08e6094f6a05f65747998437

[2017-10-01 15:35] koenpunt commented on #67
fixed with #53

[2017-10-01 15:35] #67 closed

[2017-10-01 15:38] koenpunt commented on #65
What do you mean by "it always fails"? Do you get an error?
Could it be that you try call `open` from a Modal? Because the current release doesn't work with modals, although a fix has been merged to master already (https://github.com/naoufal/react-native-safari-view/pull/53)

[2017-10-01 15:48] #59 closed

[2017-10-02 15:45] naoufal commented on #70
@fmoessle Like @koenpunt said, you should remove them yourself.

On personal projects, I add a `/clearcookies` url that clears any cookies set by my domain.

[2017-10-02 15:45] #70 closed

[2017-10-02 15:51] naoufal commented on #65
@clucasalcantara If it works in the Simulator but not the device, I'd check the version of iOS running like @RSSfeed mentioned.  Safari View controller is only supported on iOS 9+ devices.

I'm going to close this for now, but if you're still having the issue feel free to reopen it with the resulting logs of:

[code]

[2017-10-02 15:51] #65 closed

[2017-10-03 10:24] koenpunt opened #75 "Feature: Add SFAuthenticationSession API"
Since the `SFAuthenticationSession` is related to the `SFSafariViewController`, we might consider adding a React Native API for that as well.

ref: https://developer.apple.com/documentation/safariservices/sfauthenticationsession

@naoufal what do you think?

[2017-11-22 05:31] hama opened #77 "URL scheme no working"
i have added URL scheme , it was working on Safari browser, but not working on Sarariview, when click the link, nothing happened.

[2017-11-22 07:57] hama commented on #77
it was working , but must dismiss the SafariView .

[2017-11-22 09:53] koenpunt commented on #77
If I understand correctly you managed to fix the issue yourself?

[2017-11-30 15:19] sattaman commented on #77
This caught me too, probably should be made more obvious in docs, since when using Linking.openUrl ,
navigating to an internal link automatically closes the browser.

[2017-12-06 13:41] mvanroon opened #81 "Not working on RN 0.51.0: Module cannot be null"
I've managed to use RNSV on older versions of RN,  but not on 0.51.0

Looking at the stacktrace, it seems like SafariViewManager cannot be imported (probably because it hasn't been installed correctly?).

Could it be related to this issue?
https://github.com/skycocker/react-native-sfsafariviewcontroller/issues/8

I'm on react 16.0.0, react-native 0.51.0 and RNSV 2.1.0.

![schermafbeelding 2017-12-

[2017-12-06 22:17] koenpunt commented on #81
This might have to do with the new linking with CocoaPods support. Do you by any change have a `Podfile` in your project?

Nb. I haven’t tried 0.51 myself anywhere yet.

[2017-12-07 09:47] mvanroon commented on #81
Thanks for your help Koen.

I've tried renaming the Podfile prior to `link`-ing react-native-safari-view (and thereby forcing RN to link the old-fashioned way), and this fixed the problem. Thanks again! I'll close this one and make a new issue.

[2017-12-07 09:49] mvanroon opened #82 "react-native link with CocoaPods-based iOS projects (RN > 0.51.0) fails"
See https://github.com/naoufal/react-native-safari-view/issues/81

[RN 0.51 introduced linking dependancies using a CocoaPods](https://github.com/facebook/react-native/commit/74146cb3158273921b768c97f229695e680ea82d).
Because RNSV has a .podspec file, RN will try to `link` it using CocoaPods to no avail, producing the following error:

![schermafbeelding 2017-12-06 om 14 40 56](https://user-images

[2017-12-07 09:49] #81 closed

[2017-12-07 09:52] koenpunt commented on #82
Apparently RN prefers CocoaPods over linking the project directly, even when you only use CocoaPods for additional dependencies, which is pretty annoying.
Although I can imagine it's configurable in some way.
Thanks for reporting!

[2017-12-17 16:15] brunolemos opened #84 "FR: Support 3D touch / peek & pop"

[2017-12-18 08:29] koenpunt commented on #84
Can you elaborate on what exactly you’re asking for?

[2017-12-18 12:39] brunolemos commented on #84
Hi @koenpunt, I mean a way to do this on iPhone 6S and newer:

<img alt="Screenshot" src="https://im4.ezgif.com/tmp/ezgif-4-f9f3bef460.gif" />

[2017-12-18 12:41] koenpunt commented on #84
I just tested this somewhere where I implemented this library, and it just works by default. So unless I don't understand you correctly, this ticket can be closed.

[2017-12-18 12:42] brunolemos commented on #84
Hi @koenpunt, I mean a way to do this on iPhone 6S and newer:

![Gif](https://user-images.githubusercontent.com/619186/34106580-e16ead82-e3df-11e7-82f9-c4959bdee450.gif)

[2017-12-18 12:43] koenpunt commented on #84
I just tested this somewhere where I implemented this library, and it just works by default. So unless I don't understand you correctly, this ticket can be closed.

[2017-12-18 12:43] brunolemos commented on #84
@koenpunt But I don't mean inside the safari view. I mean before we open the link using this lib, got it?

[2017-12-18 12:45] koenpunt commented on #84
A I see. Not sure if that should the responsibility of this library, but I'll see if I find some time to look into it. Or if you have any idea, I encourage you to open a PR.

[2017-12-18 13:08] brunolemos commented on #84
I use `react-native-navigation` and they recently added this feature to their lib ([implementation](https://github.com/wix/react-native-navigation/pull/2186/files)).

But `react-native-safari-view` just expose static methods, so I see no way to integrate it with `react-native-navigation` 3d touch feature.

[2018-01-14 21:43] brunolemos opened #87 "Add TypeScript definitions"

[2018-01-16 22:18] koenpunt opened #89 "Read details from `package.json` in podspec"
To keep the version in the podspec up to date we should read it from the `package.json`

[2018-01-17 08:23] a3diti opened #90 "crashes when url has character "|""
crashes when url has character "|"
this is an example url:
[code]

Error thrown:
[code]

[2018-01-17 23:08] koenpunt commented on #90
Possibly related to https://github.com/naoufal/react-native-safari-view/pull/78

[2018-01-18 10:56] mblistan opened #91 "Audio still playing after closing Safari View Controller"
In case when page contains audio file, after closing the Safari View Controller and returning back to previous screen, the audio is still playing.

[2018-01-19 19:49] koenpunt commented on #91
I guess this is an issue with the safari view rather than with this library per se

[2018-01-22 08:11] mblistan commented on #91
I tried the exact same link in other app (native), after dismissing Safari View audio stopped playing.

[2018-01-25 16:55] jaysig commented on #82
I tried to rename the Podfile, then link, and got the libSafariViewManager.a to appear but I still got the error above. I also tried to add SafariServices.framework, after still getting Native Module Null but now I get the error below

![screenshot 2018-01-25 10 51 31](https://user-images.githubusercontent.com/4924440/35400917-bacf359c-01bd-11e8-9848-d16402a6dc82.png)

Terminal Error
`
error: bund

[2018-01-25 17:01] jaysig commented on #82
Realized this seems be a Yarn specific issue, if anyone else encounters just try to run with npm instead.

[2018-01-29 21:55] stevenleeg commented on #91
I've been running into this issue as well. Has anyone found a workaround?

[2018-02-09 13:03] Aishwarya-Surana commented on #82
I tried running it via yarn and npm as well. but no luck. Getting this same issue everytime.

![simulator screen shot - iphone 6 - 2018-02-09 at 18 32 35](https://user-images.githubusercontent.com/31925389/36029085-ae4e2da8-0dc7-11e8-9e65-bf8d0f709ce0.png)

[2018-02-09 19:59] ethanyuwang commented on #82
Having the same issue here

[2018-02-13 20:03] AishwaryaSurana commented on #82
You have to manually link your Safari library to react native. Since Cocoapods causes linking issues

Firstly add SafariViewManager.xproject to your library folder (this you can find in <yourProject>/node_modules/react-native-safari-view/SafariViewManager.xcodeproj) and then **Link binary with Library** add libSafariViewManager.a

Thats it.

[2018-02-13 21:13] ethanyuwang commented on #82
@AishwaryaSurana
Thanks for your reply. Where can I find the library folder? I'm not really familiar with ios native development and tried to find this folder in /ios but couldn't find it

[2018-02-14 08:13] AishwaryaSurana commented on #82
i just have updated the comment have a look

On 14-Feb-2018 2:43 am, "ethanyuwang" <notifications@github.com> wrote:

[2018-03-01 12:57] caiovncius commented on #84
Hello. Anyone have any example how to implant this? I try like the documentation but I don`t have success.

Thanks.

[2018-03-01 13:00] koenpunt commented on #84
Btw, is this even natively supported for `SFSafariViewController`?

[2018-04-21 07:39] brunolemos opened #95 "Layout issues with iPhone X"
The content is visible behind the top bar:

![image](https://user-images.githubusercontent.com/619186/39081783-e374d26a-451d-11e8-9e4f-7b0c744818f7.png)

[2018-04-26 15:05] enagorny commented on #87
Definitions from https://github.com/DefinitelyTyped/DefinitelyTyped/blob/8f8f6c439296ade0ab205751a72dfd626dd73364/types/react-native-safari-view/index.d.ts looks to be more accurate, at lest it contains help comments. Would be good to have "official" definitions here though.

[2018-04-26 15:24] brunolemos commented on #87
Nice, I didn't know it was on DefinitelyTyped.

[2018-04-26 15:24] #87 closed

[2018-05-28 06:39] sohamray1990 commented on #75
We need to implement a login through SFAuthenticationSession in a React Native app. Is there any available solution/doc/API which can be shared? It'll be a lot of help. Thanks in advance!

[2018-06-05 11:42] tscharke opened #96 "[Question] Why is the API promise-based?"
At first I wanna say **THANK YOU** for a good work. I use your project for the first time and it was easy to integrate and to work with :-)

If I look at the code in detail I am not sure why the API is promise-based? I cannot find any Objective-C-Code that use Threads or some concurrent stuff. Can someone explain that a little more in detail?

Thanks :-)

[2018-06-15 05:42] geminiyellow opened #97 "Can't resolve './SafariViewManager'"
i try to use this library open safari browser, when the `Platform` is iOS ,

but it give me this error, `Module not found: Can't resolve './SafariViewManager' in '/Users/dev/apps/node_modules/react-native-safari-view'`

and i use `react-native-web`, i did added uncompiled packages to my babel loader's includes.

anybody know why ?

[2018-06-15 23:52] fungilation opened #98 "Custom Tabs (Chrome) for Android side?"
I'm looking for Android alternative to this lib in my app WonderSwipe. Looks like https://github.com/droibit/react-native-custom-tabs integrates Chrome Custom Tabs, which is the closest thing to iOS's SafariView.

While I add my own compat layer to switch between these 2 libs, have anyone done work on integrating `react-native-custom-tabs` into this lib? https://github.com/naoufal/react-native-saf

[2018-06-16 09:44] koenpunt commented on #97
I think your understanding of this module is incorrect. It will only work with react native, on iOS, so not with `react-native-web`

[2018-06-16 09:44] #97 closed

[2018-06-16 09:48] koenpunt commented on #98
Since this library has safari in its name I don't think it should be integrated here. What you could do is create a new package, e.g. react-native-webview, and add both this library and the android one, and create a unified API for both.

[2018-06-16 09:48] #98 closed

[2018-06-16 14:52] fungilation commented on #98
react-native-inapp-browser or react-native-modal-browser would be more apt for that. But sure, let this be documentation that Chrome Custom Tabs is the companion to SafariView.

[2018-06-27 02:06] mehmetnyarar opened #99 "How do you test? (Invariant Violation: Native module cannot be null.)"
Hi,

I'm trying to test my root component which uses `react-native-safarview` and I receive the following error:

App.test.tsx

[code]

I created a folder /jest/setup.js and updated my jest.config.js as it's suggested [here](https://github.com/facebook/jest/issues/2208).

[code]

but it didn't work. How can I fix it?

`jest.config.js`

[code]

[code]

[2018-07-06 20:05] drop-george commented on #99
You need to mock this lib too just like you're doing for `Linking`
[code]

[2018-07-07 10:52] koenpunt commented on #90
Fixed on master

[2018-07-07 10:52] #90 closed

[2018-07-07 10:53] koenpunt commented on #99
What @drop-george is saying ^

[2018-07-07 10:53] #99 closed

[2018-07-07 10:54] koenpunt commented on #91
Might have been solved with #85, since there the safari view is explicitly deallocated. Can you try with the current master?

[2018-09-10 11:39] Jahans3 commented on #96
I believe it's because RN runs in a separate thread (inside a `JSContext`), so all communication between native and the RN layer is asynchronous.

[2018-09-17 22:08] VicFrolov commented on #70
Did anyone experience a solution to this? There doesn't seem to be a clear cookies query for cognito auth client, and I don't want to clear a user's cookies (not even sure if I can) for all their websites.

[2018-09-25 18:08] tscharke commented on #96
Thanks @Jahans3 for your answer :-) I did not realize that all communication between native and the RN layer is asynchronous. That answers my question :-) So, no @koenpunt there was nothing more behind my question ;-)

[2018-09-25 18:08] #96 closed

[2018-12-12 14:32] n1ru4l commented on #95
As a workaround you can show/hide the status bar:

https://facebook.github.io/react-native/docs/statusbar

[code]

[2019-02-09 22:36] oguzdemirbasci commented on #82
@AishwaryaSurana's solution worked for me. Thanks.

[2019-03-11 15:33] ronilitman opened #106 "Is there a way to know that user got back to the app from the web view?"
I need to know if the user clicked on Back or X and got back to the app. Is there a way?

[2019-03-11 19:19] koenpunt commented on #106
I don't think this is possible without writing native code.
What you probably need is to send an event ro react native from the native `viewDidAppear` method in your root viewcontroller

[2019-03-12 08:11] koenpunt commented on #106
Oh, yes you're absolutely right. Forgot about the events, havent used the lib in a while..

[2019-03-12 08:11] #106 closed

[2019-03-12 08:13] koenpunt commented on #106
Btw; it's also in the readme; https://github.com/naoufal/react-native-safari-view/blob/master/README.md#onDismiss

[2019-03-12 09:55] ronilitman commented on #106
@koenpunt Thanks! Maybe it's good to add the removeEVentListener also to the readme

[2019-04-01 13:45] tobiastimm commented on #91
@koenpunt could you release a new npm package?

[2019-04-05 10:34] evanjmg opened #107 "Does not support Tablets - please fix this"
https://github.com/naoufal/react-native-safari-view/blob/d828e7911b9588a5c1b3456c7934c587bd0d3c14/SafariViewManager.m#L91
If I run this on a tablet this line makes it not available when it should be available.

[2019-04-08 07:23] koenpunt commented on #107
What kind of fix do you propose?

[2019-04-08 07:32] evanjmg commented on #107
😓 not sure, I just got rejected from Apple since isAvailable didn’t work for their test device. Still having trouble reproducing locally. I removed it and just made sure I only require iOS 10^ for devices. Perhaps note that it isn’t really necessary?

[2019-04-12 02:02] d2luu opened #108 "target="_blank" not work on iOS"
I have a problem with a link has target="_blank" property.
I can only click one single target="_blank" link. When clicking another target="_blank" link on this page (was opened by target="_blank") this won't work.
How can I fix it?

Maybe cause by SFSafariViewController?
https://stackoverflow.com/questions/53701940/target-blank-links-not-opening-in-sfsafariviewcontroller

[2019-05-09 13:50] Johncy1997 commented on #108
Did you solved this?I am facing this same issue.

Actually i used this for payment integration. When user clicks make button, i open react-native-safariview. It contains amazon pay button. On clicking that, it will open new tab and ask user credentials. But unfortunately after logged in, the browser shows empty page.

[2019-05-10 04:18] d2luu commented on #108
@Johncy1997
Not yet.
I used this for payment too, but I changed to use Webview instead of safari-view.

[2019-05-12 11:16] koenpunt commented on #108
I think this is an issue with the SFSafariView, and not with this library.
If someone can prove otherwise, let me know and we can reopen this issues.

[2019-05-12 11:16] #108 closed

[2019-06-01 17:13] jainkuniya commented on #41
Hey! I tried with `encodeURIComponent`, then also it is throwing same error.

[2019-07-12 07:41] jdnichollsc commented on #75
Check this example: https://github.com/proyecto26/react-native-inappbrowser/commit/9d4daa0855b4cd9251ebf9a0a7c50023cda6e734#diff-588271910c7e2d8a0859edc2916fbba5R77

[2019-07-23 13:14] redreceipt commented on #91
What's the status on this?

[2019-07-24 17:43] stevenleeg commented on #91
@redreceipt not sure where the maintainer went but I've been using the latest commit on my project while we wait for an updated npm package:

[code]

[2019-08-23 13:29] LinusU commented on #107
React Native only support iOS 9 and newer so shouldn't be a problem to just remove the check? 🤔

[2020-04-01 12:51] BoKKeR opened #112 "With accessability voice over on the user cant exit the screen"
With accessability voice over on the user cant exit the screen as the header takes up too much space
![voiceover-webbvy](https://user-images.githubusercontent.com/2664857/78139062-31214800-7428-11ea-83e8-df4a7b599a9a.png)

[2020-07-30 17:54] tbissonnette commented on #91
It looks like there's a bug in SafariViewManager.m safariViewControllerDidFinish: where the SafariViewController is never actually dismissed when the user hits the 'dismiss' button. And since that method sets _safariView = nil before notifying any onDismiss listeners, even if one of them subsequently called dismiss( ) it wouldn't help.

So the call to dismiss needs to be done as the first action i

[2020-09-03 15:08] Reenagrg100 opened #115 "How can we disable cookies in Safari View?"

[2020-10-06 06:02] ShutoYamada opened #116 "Is it possible to provide custom headers?"
I would like to API key or authentication token with my request.
Is it possible to provide custom headers?

[2020-10-16 10:43] agrawalsurabhi89 commented on #116
Any solution for this?

[2020-10-30 12:10] aless10 commented on #77
Hi, I'm trying to do this, but I can't figure it out how.
I have a basic html page and I have a link that should return to the app via a Url Scheme.
This is the function I use to open the view
[code]
I don't understand how to trigger the `dismiss` event from the webpage.

[2020-11-01 21:00] koenpunt commented on #77
@aless10 you have to use the react `Linking` api to intercept your url scheme, and from there you can invoke `SafariView.dismiss()` to close the safari view.

[2020-11-01 21:02] koenpunt commented on #116
Since this is not supported by Apple, this library also can't support it.

[2020-11-01 21:02] #116 closed

[2020-11-02 11:10] aless10 commented on #77
Hi @koenpunt (thanks for the reply). So I guess I need to add this code inside the component?
[code]
Consider that I have a link inside the page I'm opening that points to the application (eg `myapp://`). It works when I open the browser, but it does not work with the SafariView.
It looks like the Linking event handler does not work, but maybe I'm missing something here.
I think that when I manage

[2020-12-23 16:07] malekkbh opened #118 "how can we track url changes ? (as onNavigationStateChange in webView )"

[2021-01-04 14:41] Sky84 commented on #97
https://github.com/naoufal/react-native-safari-view/pull/113

[2021-07-15 20:35] neilkimmett opened #123 "Depend on `React-Core`, not `React`"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-safari-view@2.1.0` for the project I'm working on.

In newer versions of React Native you need to depend on `React-Core`, not `React`

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](htt

[2021-12-01 08:55] hugoh59 opened #126 "How to show this as a modal?"
I'd like to use this library but instead of opening a full screen safarie view, I'd like it to be a modal, where we can see the back of previous screen in the top part of the background.

Is that possible ? Thank you.

[2022-07-08 11:50] jordanjoecooper opened #127 "Is this project looking for new maintainers?"
I've noticed there are a number of pull requests open and the last published version was quite some time ago.

Is this project looking for a new owner or new maintainers?